body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial;
    color: white;
}

.b {
    color: #fff
}

.topbar{
    display:flex;
    gap:30px;
    align-items:center;
    padding:15px 25px;
    border-radius:15px;

    background: linear-gradient(
        to right,
        #000000,
        #000000,
        #000000
    );
}
